body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0,9;
  text-align: center;
  }

header {
  top: 0px;
  left: 0px;
  display: inline-flex;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  background-color: black;
  }

#logo {
  height: 50px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: flex-start;
  }

#navigation {
  display: block;
  margin-right: 10px;}

#navigation a {
  display: inline-flex;
  margin-left: 20px;
  text-decoration: underline;
  color: seashell;
  }

/* Page Content */

.container {
  display: flex;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg"); )
  display: inline-flex;
  height: 700px;
  width: 1200px;
  justify-content: center;

}

.text_content {
  position: relative;
  top: 50%;
  background-color: black;
  display: block;
  align-items: center;
  width: 1200px;
  align-items: center;
}

h2 h4 {
  display: block;
  }
